body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #2688b5;
}

.site-header .navbar-nav .nav-link {
  color: #2c2c2c;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.table td, .table th {
  padding: 0.25rem;
}

.data-left{
  text-align: left;
}

.data-right{
  text-align: right;
}

.bottom-bar {
  background-color: #333;  
}

.bottom-bar a {
  display: block;
  color: #d81919;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bottom-bar a:hover {
  background: #f1f1f1;
  color: black;
}

.bottom-bar a.active {
  background-color: #2688b5;
  color: white;
}

.select-team {
  width: 100px;
  height: 30px;
}

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 60px solid #3c7b73;
  border-left: 60px solid transparent;
}

.fixed-bottom a:hover{
  border-style: solid;
  border-color: rgb(218, 218, 218);
  background-color: rgb(218, 218, 218);
  color: white;
}

.fixed-bottom a{
  color: black;
  border-style: solid;
  border-color: whitesmoke;
}

a.selected {
  border-style: solid;
  border-color: #3c7b73;
  background-color: rgb(231, 231, 231);
  color: black;
  pointer-events: none;
}